body{
    background-color:#ccc;
    padding: 50px;
    color: #c3c;
    font-size:  30px;
    text-align: center;
    }

     h1{
     text-align: center;
        color: red;
        font-size:  80px;
     }